<% cache "pin-service-#{service.id}" do %>
  <div class="pin-feat-item-details">

    <h3><%= link_to service.name, business_path(service), title: service.name %></h3>
    <div class="pin-item-location">
      <i class="glyphicon glyphicon-map-marker"></i>
      <span><%= truncate(service.full_address, length: 45) %></span>
    </div>
    
  </div>
  <div class="pin-feat-item-metas">
    <ul class="pin-feature-info">
      <li>
        <i class="glyphicon glyphicon-th"></i>
        <%= link_to truncate(service.category.name, length: 30), category_path(service.category), title: service.category.name, data: { toggle: "tooltip", placement: "top" } %>
      </li>
    </ul>

    <div class="pin-rating">
      <a class="pin-add-wishlist">
        <i class="fa fa-thumbs-o-up"></i>
      </a>
    </div>
  </div>
<% end %>