@font-face {
  font-family: 'FontAwesome';
  src: font-url('fontawesome-webfont.eot?v=4.5.0');
  src: font-url('fontawesome-webfont.eot?#iefix&v=4.5.0') format('embedded-opentype'), 
        font-url('fontawesome-webfont.woff2?v=4.5.0') format('woff2'), 
        font-url('fontawesome-webfont.woff?v=4.5.0') format('woff'), 
        font-url('fontawesome-webfont.ttf?v=4.5.0') format('truetype'), 
        font-url('fontawesome-webfont.svg?v=4.5.0#fontawesomeregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Ionicons";
  src: font-url("ionicons.eot?v=2.0.0");
  src: font-url("ionicons.eot?v=2.0.0#iefix") format("embedded-opentype"), 
  font-url("ionicons.ttf?v=2.0.0") format("truetype"), 
  font-url("ionicons.woff?v=2.0.0") format("woff"), 
  font-url("ionicons.svg?v=2.0.0#Ionicons") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'icomoon';
  src: font-url('icomoon.eot?1gcfmm');
  src: font-url('icomoon.eot?1gcfmm#iefix') format('embedded-opentype'), 
  font-url('icomoon.ttf?1gcfmm') format('truetype'), 
  font-url('icomoon.woff?1gcfmm') format('woff'), 
  font-url('icomoon.svg?1gcfmm#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Pe-icon-7-stroke';
  src: font-url('Pe-icon-7-stroke.eot?d7yf1v');
  src: font-url('Pe-icon-7-stroke.eot?#iefixd7yf1v') format('embedded-opentype'), 
    font-url('Pe-icon-7-stroke.woff?d7yf1v') format('woff'), 
    font-url('Pe-icon-7-stroke.ttf?d7yf1v') format('truetype'), 
    font-url('Pe-icon-7-stroke.svg?d7yf1v#Pe-icon-7-stroke') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "raty";
  font-style: normal;
  font-weight: normal;
  src: font-url("raty.eot");
  src: font-url("raty.eot?#iefix") format("embedded-opentype");
  src: font-url("raty.svg#raty") format("svg");
  src: font-url("raty.ttf") format("truetype");
  src: font-url("raty.woff") format("woff");
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: font-url('glyphicons-halflings-regular.eot');
  src: font-url('glyphicons-halflings-regular.eot?#iefix') format('embedded-opentype'), 
  font-url('glyphicons-halflings-regular.woff2') format('woff2'), 
  font-url('glyphicons-halflings-regular.woff') format('woff'), 
  font-url('glyphicons-halflings-regular.ttf') format('truetype'), 
  font-url('glyphicons-halflings-regular.svg#glyphicons_halflingsregular') format('svg');
}

@font-face {
  font-family: 'Simple-Line-Icons';
  src:font-url('Simple-Line-Icons.eot');
  src:font-url('Simple-Line-Icons.eot?#iefix') format('embedded-opentype'),
    font-url('Simple-Line-Icons.woff') format('woff'),
    font-url('Simple-Line-Icons.ttf') format('truetype'),
    font-url('Simple-Line-Icons.svg#Simple-Line-Icons') format('svg');
  font-weight: normal;
  font-style: normal;
}
