.table {
  tr.warning {
    td {
      i.fa {
        color: #FF5722;
        margin-right: 8px; 
      }
    }
  }
  tr.danger {
    td {
      i.fa {
        color: #ffc107;
        margin-right: 8px; 
      }
    }
  }
  tr {
    td {
      i.fa {
        color: #8bc34a;
        margin-right: 8px; 
      }
    }
  }
}