<div class="pageheader">
  <h1>Editar <%= @service.name %></h1>
  <div class="right-wrapper">
    <%= link_to 'ver no site', business_path(@service), target: '_blank', class: 'btn btn-info btn-trans btn-xs' %>  <%= link_to 'voltar', admin_services_path, class: 'btn btn-default btn-xs btn-trans' %>
  </div>
</div>

<section id="main-content" class="animated fadeInUp">
  <div class="row">
    <div class="col-sm-12">
      
      <%= render 'form', service: @service %>
     
    </div>
  </div>
</section>
