<table width="75%" align="center" border="0" cellpadding="0" cellspacing="0" style="text-align:center;margin:10px auto;">
  <tbody>
    <tr>
      <td style="color:#454545;font-family:'PT Sans',Helvetica,Arial,sans-serif;font-size:1em;font-weight:400;margin:20px auto;" class="content_width">

        <p style="color:#888888;font-family:'PT Sans',Helvetica,Arial,sans-serif;font-size:1em;font-weight:400;line-height:30px;">Recebemos o seu contato. Nós da equipe Pinou iremos analizar sua solicitação e entraremos em contato, por email ou telefone, em até 48 horas.</p>
        <br />
      </td>
    </tr>
  </tbody>
</table>
