<div id="search-bar" class="row">
  <div class="col-md-2 no-padding">
    <a class="navbar-brand pinou-logo" href="/"></a>
  </div>

  <div class="col-md-8">
    <div class="col-md-2">
      <h3 class="term">
        Faça uma <span>Busca</span>
      </h3>
    </div>
    <div class="col-md-10 no-padding">
    <%= form_tag '/busca' do %>
      <div class="input-group">
        <input type="text" name="pesquisa" class="form-control search-input input-lg" placeholder="Estou procurando por...">
        <span class="input-group-btn">
          <button class="btn btn-primary btn-lg" type="button">Encontrar</button>
        </span>
      </div>
    <% end %>
    </div>
  </div>

  <div class="col-md-2 no-padding">
    <%= link_to "Anunciar", new_service_path, class: "btn btn-clear btn-light" %>
  </div>
</div>
