<section id="slider">
  <div class="row un-slider">
    <ul>
      <li class="cellphone"></li>
      <li class="housewife"></li>
      <li class="grill"></li>
      <li class="bringlayer"></li>
      <li class="architecture"></li>
      <li class="piano"></li>
    </ul>
    <div class="caption">
      <h1>Preciso <br /><small><span class="typed"></span></small></h1>
    </div>
  </div>
</section>