<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h4><%= @category.name %></h4><hr />
      <ul>
        <% @category.services.each do |record| %>
          <li>
            <%= link_to record.name, business_path(record) %>, 
            <%= link_to record.district.name, district_path(record.district) %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>