<% title("Catálogo Natal") %>
<% seo [
  { property: 'description', content: 'Todas as categorias. Catalogamos mais de 8 mil lojas e serviços em Natal/RN para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1><%= link_to "Início", root_path, title: "Pinou Home Page", "data-turbolinks" => "false"  %> <i class="glyphicon glyphicon-menu-right"></i> <b>Catálogo</b></h1>
  </div>
</div>

<div id="categories">
  <div class="row">

    <div class="col-md-9">
      <div class="col-fluid">
        <% @categories.each do |alpha, categories| %>
          <% cache "categories-#{alpha}" do %>
            <ul class="cat-list">
              <li class="heading"><%= alpha %></li>
              <% categories.each do |record| %>
                <li><%= link_to record.name, category_path(record), title: record.name %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
      </div>
    </div>

    <div class="col-md-3" id="sidebar"></div>
  </div>
</div>