<% title("Catálogo Natal") %>
<% seo [
  { property: 'description', content: 'Todas as categorias. Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1><%= link_to "Início", root_path, title: "Pinou Home Page" %> <i class="glyphicon glyphicon-menu-right"></i> <b>Catálogo</b></h1>
  </div>
</div>

<div id="categories">
  <div class="row">

    <div class="col-md-9">
      <div class="text-center">
        <% @categories.each do |record| %>
          <div class="cat-link">
            <% cache "cat-btn-#{record.id}" do %>
              <%= link_to category_path(record), class: 'btn btn-clear' do %>
                <%= record.name %><span class="badge"><%= record.services_total %></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>

    <div class="col-md-3" id="sidebar"></div>
  </div>
</div>