<% title("Explore todos os Bairros de Natal") %>
<% seo [
  { property: 'description', content: 'Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1><%= link_to "Início", root_path, title: "Pinou Home Page", "data-turbolinks" => "false"  %> <i class="glyphicon glyphicon-menu-right"></i> Bairros & Distritos</h1>
  </div>
</div>

<div class="content">
  <div class="row">
    <div class="col-md-9">
      <div class="col-fluid">
        <% @districts.each do |alpha, districts| %>
          <% cache "districts-#{alpha}" do %>
            <ul class="districts">
              <li class="heading"><%= alpha %></li>
              <% districts.each do |record| %>
                <li><%= link_to record.name, district_path(record), title: record.name %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3" id="sidebar"></div>
  </div>
</div>