<div class="content">
  <div class="row">
    <div class="col-md-12">
      <h4><%= @district.name %></h4>
      <ul>
        <% @district.services.each do |record| %>
          <li><%= link_to record.name, business_path(record) %></li>
        <% end %>
      </ul>
    </div>
  </div>
</div>