<% title("Explore todos os Bairros de Natal") %>
<% seo [
  { property: 'description', content: "Onde encontrar lojas e serviços em Natal? Precisando de profissionais? Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia." },
] %>

<% content_for :subhead do %>
  <div id="subhead">
    <div class="container">
      <ol class="pin-breadcrumbs col-sm-12">
        <li><%= link_to "Início", root_path, title: "Página Inicial do Pinou", "data-turbolinks" => "false"  %> <i class="glyphicon glyphicon-menu-right"></i> </li>
        <li><b>Bairros & Distritos</b></li>
      </ol>
    </div>
  </div>
<% end %>

<div class="content">
  <div class="row">
    <div class="col-sm-12">
      <h1 class="sm">Navegue por bairros de Natal</h1>
    </div>

    <div class="col-md-9">
      <div class="col-fluid">
        <% @districts.each do |alpha, districts| %>
          <% cache "districts-#{alpha}" do %>
            <ul class="districts">
              <li class="heading"><%= alpha %></li>
              <% districts.each do |record| %>
                <li><%= link_to record.name, district_path(record), title: record.name %></li>
              <% end %>
            </ul>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="col-md-3" id="sidebar">
      
      <div class="ad no-mt">
        <!-- Pinou_DIstricts_Index_001 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9856374304140488"
             data-ad-slot="6109463087"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>

      <div class="ad">
        <!-- Pinou_Districts_Index_002 -->
        <ins class="adsbygoogle"
             style="display:block"
             data-ad-client="ca-pub-9856374304140488"
             data-ad-slot="7586196281"
             data-ad-format="auto"></ins>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
        </script>
      </div>
    </div>
  </div>
</div>