<% seo [
  { property: 'description', content: 'Catalogamos mais de 8 mil serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="fluid">
  <div id="flyer">
    <div class="overlay"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <!-- <h1 class="title">O que você procura?</h1> -->
          <h1 class="title">Preciso <small><span class="typed"></span></small></h1>
          <h3 class="subtitle">Catalogamos mais de 8 mil serviços em Natal<br /> para facilitar o seu dia a dia. Aqui tem o serviço que você procura.
          </h3>
        </div>
      </div>
    </div>
  </div>

  <%= render 'shared/search_bar' %>
</div>

<section class="pin-how-it-works-section pin-custom-section pin-feat-listing-section pin-section-wrapper">
  <div class="container">
    <div class="row">
      <div class="pin-section-headings">
        <h1>Um lugar cheio de oportunidades</h1>
        <p>Veja quem já está no <b>Pinou</b> e anuncie o seu negócio também.</p>
      </div>

      <%= render 'services/services_slider' %>

    </div>
  </div>
</section>

<% cache 'home-section-2' do %>
  <section class="districts pin-feat-listing-section pin-section-wrapper">
    <div class="container">
      <div class="row">
        <div class="pin-section-headings">
          <h1>Temos +8400 lojas e serviços catalogados em Natal</h1>
          <p>E contando...</p>
        </div>

        <div class="col-md-4">
          <h3>
            <strong>Natal está sendo catalogada.</strong> Adicione o seu negócio no NZEN, o maior portal de lojas e serviços de Natal. É rápido e gratuíto.
          </h3>
          <%= link_to "Divulgue seu Negócio", new_service_path, class: "btn btn-clear btn-lg" %>
        </div>

        <div class="col-md-4 text-center hidden-xs">
          <%= image_tag "natal/bairros.jpg" %>
        </div>
        
        <div class="col-md-4">
          <h4>Anuncie</h4>
          <p>Para obter sucesso, seu negócio primeiro precisa ser encontrado. <strong>Busca Simplificada.</strong> Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure voluptatibus ratione laboriosam. </p>

          <h4>Páginas Exclusivas</h4>
          <p>Alguém pela cidade em busca dos seus serviços. Em breve, iremos lançar versões exclusivas de páginas para negócios, com mais destaque e mais visibilidade para o seu negócio. <a href="/">Entre em contato.</a></p>
        </div>

      </div>
    </div>
  </section>
<% end %>

<section class="ad">
  <div class="container">
    <div class="row"></div>
  </div>
</section>



<div class="container">
  <div class="row">
    <div class="col-md-12">
      <%#= render partial: 'categories', locals: { categories: @categories }, cached: true %>
    </div>
  </div>
</div>
