.navbar { 
  margin-bottom: 0;
  border-radius: 0;
  z-index: 10;
  background-color: #03a9f4; // #ED9C16
  border: none;
  height: 60px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);

  .pinou-logo {
    background: image-url('logo-pinou-sm.png') center center no-repeat transparent;
    background-size: 130px;
    width: 160px;
    margin-top: 5px;
    margin-left: 15px;
    padding: 0;
  }

  li {
    font-size: 16px;
    a { 
      padding: 20px;
      color: #fff;
      font-weight: 600;
      &:hover, &:focus { 
        color: #fff;
        background-color: #2196F3;
      }
    }
  }

  .cta { 
    background-color: #ff5722 !important;
    width: 140px;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 18px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    z-index: 10;
    a { 
      color: #fff;
      line-height: 1.2;
      padding: 20px 15px 10px;
      span { 
        font-weight: 900;
        color: #ffeb3b !important;
        font-size: 26px;
      }
      &:hover { 
        color: #fff;
        background-color: #ff9800;
      }
    }
    &.fixed {
      position: fixed;
      right: 126px;
    }
  }

  .navbar-collapse { 
    border: none; 
    box-shadow: none;
    padding: 0; 
  }

  .navbar-toggle {
    font-size: 22px;
    color: #fff;
    padding: 9px 10px 0
  }
}

.pin-home 
  .navbar { 
    background-color: transparent; 
    box-shadow: none;
    li { background-color: rgba(0,0,0,0.5); }
  }
