.navbar { 
  margin-bottom: 0;
  border-radius: 0;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 4;
  background-color: transparent;
  border: none;

  .cta { 
    background-color: #ff5722; 
    a { color: #fff; }
  }
}
