<% title("Contato") %>
<% seo [
  { property: 'description', content: 'Fale conosco. Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1>
      <%= link_to "Início", root_path, title: "Pinou Home Page", "data-turbolinks" => "false"  %> 
      <i class="glyphicon glyphicon-menu-right"></i> 
      <b>Contato</b>
    </h1>
  </div>
</div>

<div class="content" id="statics">
  <div class="row">
    <div class="col-sm-9">
      <h1>Entre em contato conosco</h1>
      
    </div>
    <div class="col-sm-3"></div>
  </div>
</div>