<% title("Termos de Uso") %>
<% seo [
  { property: 'description', content: 'Termos de Uso do Pinoou. Catalogamos mais de 8 mil lojas e serviços em Natal para facilitar o seu dia a dia. Aqui tem o serviço que você procura.' },
] %>

<div class="row">
  <div class="pin-breadcrumbs col-sm-12">
    <h1>
      <%= link_to "Início", root_path, title: "Pinou Home Page", "data-turbolinks" => "false"  %> 
      <i class="glyphicon glyphicon-menu-right"></i> 
      <b>Termos de Uso</b>
    </h1>
  </div>
</div>

<div class="content" id="statics">
  <div class="row">
    <div class="col-sm-9">
      <h1>Termos de Uso</h1>
      <div>    
        <p>1. Partes</p>
        <p>1.1 - Este Termo de Uso aplica-se entre, de um lado, ao site Pinou e, de outro lado, a toda e qualquer pessoa física ou jurídica, usuária dos serviços contidos no mencionado site, prestados por meio do cadastro ao site <a href="/">www.pinou.com.br</a>, doravante designado USUÁRIO.</p>
        
        <p>1.2 - Ao se cadastrar no site Pinou, o USUÁRIO fica ciente e concorda que está sujeito a todas as disposições deste Termo de Uso, declarando, para todos os fins de Direito, possuir capacidade jurídica para tanto.</p>
        
        <p>2. Objeto</p>
        <p>2.1 - Este Termo de Uso rege a utilização, pelo USUÁRIO, do acesso aos serviços prestados pelo site Pinou, um serviço online de visualização de mapas, localização de endereços, estabelecimentos e demais pontos públicos, incluindo-se a exibição de imagens e informações a respeito dos locais indicados, prestado gratuitamente pelo Pinou por meio do site <a href="/">www.pinou.com.br</a>.</p>
        <p>Este documento informa as responsabilidades, deveres e obrigações que todo USUÁRIO assume ao acessar e/ou utilizar o site.</p>
        
        <p>3. Condições gerais de uso</p>
        <p>3.1 - O USUÁRIO fica ciente e concorda que o Pinou não poderá garantir a qualidade, exatidão, completude, adequação, efetividade, confiabilidade ou utilidade dos mapas, endereços, estabelecimentos, pontos públicos, imagens, informações, rotas ou de qualquer outro conteúdo do serviço Pinou.</p>
        
        <p>3.2 - Desse modo recomendam-se ao USUÁRIO que verifique a veracidade das informações obtidas e proceda, eventualmente, às medidas cabíveis para sua proteção com relação a eventuais danos.</p>
        
        <p>O site Pinou captura e divulga anúncios advindos de diversos ANUNCIANTE(S), logo, não atua como prestador de serviços de consultoria ou ainda intermediário ou participante em nenhum negócio jurídico que venha a ser eventualmente realizado entre o USUÁRIO e o(s) ANUNCIANTE(S).</p>
        
        <p>Assim, o site Pinou não assume qualquer responsabilidade que advenha das relações existentes entre o USUÁRIO e o(s) ANUNCIANTE(S), sejam elas diretas ou indiretas.</p>
        
        <p>4. Cadastro e senha do usuário</p>
        <p>4.1 - A utilização de determinadas funcionalidades do serviço Pinou se condiciona ao prévio cadastro do USUÁRIO, por meio do site <a href="/">www.pinou.com.br</a>, mediante o fornecimento dos dados pessoais solicitados, definição de uma identificação ou indicação de um endereço de e-mail, bem como de uma senha, de uso pessoal e intransferível.</p>
        
        <p>4.2 - O USUÁRIO deverá fornecer ao Pinou, por ocasião do seu cadastro, informações verdadeiras, atuais e completas, bem como a assim mantê-las durante todo o período em que utilizar o serviço Pinou.</p>
        
        <p>4.3 - O USUÁRIO deverá, ainda, manter a confidencialidade e pessoalidade da sua senha e a notificar imediatamente a Pinou a respeito de eventual acesso indevido ou uso não autorizado da sua senha por terceiros.</p>
        <p>4.4 - O USUÁRIO, ao seu exclusivo critério, poderá a qualquer momento cessar a utilização do serviço, através do cancelamento de sua conta, via e-mail, através da página do Painel de Negócios <a href="/painel-de-negocios">http://www.pinou.com.br/painel-de-negocios/</a>, sendo que o conteúdo gerado por este permanecerá no site.</p>
        
        <p>4.5 - O Pinou poderá, a qualquer tempo, excluir o USUÁRIO do site em razão de inobservância as condições deste Termo de Uso, comunicando o cancelamento da conta via e-mail.</p>
        
        <p>5. Conteúdo criado pelo usuário</p>
        <p>5.1 - O USUÁRIO poderá incluir avaliações de um estabelecimento, para exibição no serviço Pinou.</p>
        
        <p>5.2 - Qualquer pessoa poderá visualizar as avaliações incluídas no serviço Pinou.</p>
        
        <p>5.3 - O USUÁRIO deverá fornecer ao Pinou, ao incluir avaliações para exibição no serviço, informações verdadeiras, objetivas, atuais e pertinentes à finalidade do serviço Pinou, de forma ética.</p>
        
        <p>5.4 - Recomenda-se que o USUÁRIO somente insira imagens cuja procedência seja por ele conhecida não podendo o site ser responsabilizado pelas inserções efetivadas, em inobservância as normas legais aplicáveis.</p>
        
        <p>6. Práticas proibidas</p>
        <p>6.1 - O USUÁRIO fica ciente e concorda que, na utilização do serviço Pinou, é terminantemente proibido:</p>
        
        <p>(i) - Distribuir, modificar, vender, alugar ou de qualquer forma explorar economicamente o serviço Pinou, os dados e informações a ele relacionados, bem como utilizá-los para finalidade que não seja pessoal imediata ou, ainda, para a criação ou fornecimento de outros produtos ou serviços;</p>
        <p>(ii) - Usuário se compromete a não fazer avaliações e ou inserir conteúdos impróprios que:</p>
        
        <ul>
          <li>Viole a lei, a moral, os bons costumes, a propriedade intelectual, os direitos à honra, à vida privada, o sigilo das comunicações, à imagem, à intimidade pessoal e familiar;</li>
          <li>Infrinjam patentes, marcas, segredos comerciais, direitos autorais;</li>
          <li>Estimulem a prática de condutas ilícitas;</li>
          <li>Incitem a prática de atos de discriminação, seja em razão de sexo, raça, religião, crenças, idade ou qualquer outra condição;</li>
          <li>Coloquem à disposição ou possibilitem o acesso a mensagens, produtos ou serviços ilícitos, violentos, pornográficos, degradantes;</li>
          <li>Induzam ou incitem práticas perigosas, de risco ou nocivas para a saúde e para o equilíbrio psíquico;</li>
          <li>Sejam falsos, ambíguos, inexatos, exagerados, de forma que possam induzir a erro sobre seu objeto ou sobre as intenções ou propósitos do comunicador;</li>
          <li>Constituam publicidade ilícita, enganosa ou desleal, e que configurem concorrência desleal;</li>
          <li>Veiculem, incitem ou estimulem a pedofilia;</li>
          <li>Hostilizem terceiros;</li>
          <li>Transmitam conteúdos ilegais, danosos, incômodos, ameaçadores, abusivos, tortuosos, difamatórios, vulgares, obscenos, invasores da intimidade de terceiros, odiosos, xenófobos, ou, de algum modo, inaceitáveis.</li>
        </ul>
        
        <p>(iii) - Fornecer ao Pinou, por ocasião do cadastro no site <a href="/">www.pinou.com.br</a>, informações falsas, inexatas, desatualizadas ou incompletas, bem como assumir intencionalmente a personalidade de outra pessoa, física ou jurídica;</p>
        <p>(iv) - Disseminar ou instalar vírus ou qualquer outro código, arquivo ou software com o propósito de interromper, destruir, acessar indevidamente, limitar ou interferir no funcionamento ou segurança do serviço Pinou, bem como das informações, dados do Pinou, de seus USUÁRIOS ou de terceiros, ou, ainda, para qualquer outra finalidade ilícita; e</p>
        <p>(v) - Praticar qualquer ato contrário à legislação em vigor.</p>
        
        <p>Os conteúdos inseridos no portal Pinou estarão sujeitos à validação posterior à sua publicação quanto ao teor e qualidade, podendo ser excluídos ou suprimidos se violarem qualquer um dos dispositivos explicitados na cláusula 6.1, relativa a conteúdos impróprios.</p>
        
        <p>O Pinou não controla os conteúdos transmitidos ou disponibilizados a terceiros pelo Usuário no uso dos serviços disponíveis no mesmo. Não obstante, ao detectar qualquer conduta e/ou método do (a) Usuário que contrarie o disposto neste Termo de Uso, poderá excluir/suspender avaliação do Pinou e poderá notificar, posteriormente, o (a) Usuário para que a situação seja regularizada.</p>
        
        <p>O Pinou não se responsabiliza pelo destino sugerido em links vinculados na página dos estabelecimentos e não mantém vínculos com outros sites eventualmente sugeridos por estes links.</p>
        
        <p>7. Bloqueio e cancelamento de cadastro do usuário</p>
        <p>7.1 - O USUÁRIO fica ciente e concorda que o Pinou, tomando conhecimento de qualquer violação ao disposto neste Termo de Uso, poderá bloquear temporariamente ou cancelar em caráter definitivo o seu cadastro no site <a href="/">www.pinou.com.br</a> independentemente de prévia comunicação.</p>
        
        <p>8. Utilização e divulgação de dados do usuário</p>
        <p>8.1 O - USUÁRIO fica ciente e concorda que a Pinou poderá utilizar o endereço de e-mail porventura fornecido por ocasião do seu cadastro no site para o envio de informações, de que natureza for relacionadas ao serviço Pinou.</p>
        
        <p>8.2 - O USUÁRIO fica ciente e concorda que os dados que fornece ao Pinou e, os porventura registrados por este, por ocasião de seu cadastro e em decorrência da utilização dos serviços, incluindo informações relativas à sua identificação e localização, poderão, eventualmente ser preservados e/ou fornecidos às autoridades competentes em cumprimento de ordens judiciais.</p>
        
        <p>9. Responsabilidade</p>
        <p>9.1 - O USUÁRIO fica ciente e concorda que o Pinou não é responsável:</p>
        <p>(i) - Por eventual falta de qualidade, de exatidão, de completude, de adequação, de efetividade, de confiabilidade ou de utilidade dos mapas, endereços, estabelecimentos, pontos públicos, imagens, informações, rotas ou de qualquer outro conteúdo do serviço Pinou;</p>
        <p>(ii) - Por qualquer serviço, anúncio, propaganda, imagem, texto ou outro conteúdo relacionado ao serviço Pinou que seja criado, mantido ou prestado por USUÁRIOS ou por terceiros, ainda que acessível ou visualizável no site;</p>
        <p>(iii) - Pelas condições reais de uso, consequências e eventuais danos decorrentes do uso dos mapas, endereços, estabelecimentos, pontos públicos, imagens, informações, rotas, vias ou de qualquer outro conteúdo dos serviços de informação prestados pelo Pinou;</p>
        <p>(iv) - Por eventuais danos decorrentes da inobservância, pelo USUÁRIO, do dever de manutenção da confidencialidade e pessoalidade da sua senha, bem como da falta ou atraso no envio de notificação à Pinou a respeito de eventual acesso indevido ou uso não autorizado da sua senha por terceiros;</p>
        <p>(v) - Por qualquer dano sofrido pelo USUÁRIO em decorrência da conduta de outros USUÁRIOS ou terceiros, ainda que no âmbito do serviço Pinou;</p>
        <p>(vi) - Por qualquer dano sofrido pelo USUÁRIO em decorrência da remoção de qualquer conteúdo que criar, incluir ou divulgar no serviço Pinou, do cancelamento do seu cadastro no site, bem como da preservação ou fornecimento de informações a seu respeito, incluindo relativas à sua identificação e localização, pela Pinou, em cumprimento de ordens judiciais; e</p>
        <p>(vii) - Por eventual modificação, suspensão ou interrupção do serviço Pinou</p>
        <p>(viii) - Por manter os serviços disponíveis no período de 24 (vinte e quatro) horas por dia, todos os dias do ano.</p>
        
        <p>9.2 - O USUÁRIO fica ciente e concorda que é integralmente responsável:</p>
        <p>(i) - Por quaisquer danos decorrentes das ações e ou omissões por si praticadas em inobservância ao item 6 – “Praticas Proibidas” do presente Termo de Uso.</p>
        
        <p>9.3 - O USUÁRIO poderá a vir a ressarcir o Pinou das despesas que o site venha a dispender quando da violação das condições previstas neste Termo.</p>
        
        <p>9.4 - O USUÁRIO detêm todos os direitos de propriedade sobre a informação, texto, gráfico ou outros materiais que o USUÁRIO publicar no site. No entanto, o site fica autorizado a reproduzir, publicar e distribuir todos os arquivos, textos, gráficos integral ou em partes do seu conteúdo.</p>
        
        <p>9.5 - O Pinou endossa qualquer conteúdo enviado por qualquer USUÁRIO quer seja uma opinião, recomendação ou conselho ali expresso.</p>
        
        <p>10. Modificação dos Termos de Uso</p>
        <p>10.1 - O USUÁRIO fica ciente e concorda que este Termo de Uso poderá ser alterado pela Pinou, a qualquer tempo, independentemente de qualquer comunicação.</p>
        <p>O USUÁRIO poderá, a qualquer momento, acessar a versão atualizada deste Termo de Uso no endereço <a href='/termos-de-uso'>www.pinou.com.br/termos-de-uso</a>.</p>
        
        <p>13. Foro</p>
        <p>13.1 - As partes elegem o Foro Central da Comarca de Natal, Rio Grande do Norte, para dirimir quaisquer controvérsias e demandas decorrentes ou relacionadas ao objeto destes Termos de Uso, renunciando a qualquer outro, por mais privilegiado que possa ser.</p>
      </div>
    </div>

    <div class="col-sm-3"></div>
  </div>
</div>