<div class="container">
  <div class="col-sm-6 col-sm-offset-3 col-xs-12">
    <div class="pin-side-menu">
      <div class="pin-side-menu-widget-wrap">
        <div class="pin-login-form-wrapper">
          <%= render 'devise/sessions/form' %>
        </div>
      </div>
    </div>
  </div>
</div>
