.btn.btn-clear {
  background: transparent;
  border: 2px solid #e74c3c;
  color: #e74c3c;
  font-weight: 600;
  &:hover {
    background: #e74c3c;
    color: #fff;
  }
  &.btn-light {
    border-color: #64ccff !important;
    color: #64ccff;
    &:hover {
      background: transparent;
      color: #fff;
    }
  }

  &.btn-muted {
    border-color: #ddd !important;
    color: #ccc;
    &:hover {
      background: transparent;
      color: #666;
    }
  }

}

.btn.btn-lg { border-radius: 2px; }