.modal {
  .modal-content {
    box-shadow: none;
    border: none;
    border-radius: 2px;
    .modal-header, .modal-footer { border: none; }    
  }

  .pin-side-menu {
    padding: 25px;
  }

  .fat-modal {
    padding: 40px;
  }
  .fa-thumbs-o-up { color: #2196f3 }
  .fa-thumbs-o-down { color: #f44336; }
}