// Place all the styles related to the Districts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

ul.districts {
  margin-bottom: 20px !important;
  border: 1px solid #eee;
  border-radius: 2px;
  display: inline-block;
  width: 100%;
  li {
    padding: 10px 15px 5px;
    a { 
      color: #494949;
      &:hover { color: #03a9f4; }
    }
    &:last-child { padding-bottom: 15px; }
  }
  .heading {
    border-bottom: 1px solid #eee;
    font-weight: 600;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 18px;
  }
}
