#statics {
  .pin-question {
    margin-top: 25px;
    .heading { 
      border-bottom: 1px solid #eee;
      a { color: #222; }
      h4 { font-weight: bold; }
    }
    p { 
      padding: 25px 15px;
      font-size: 18px;
      font-style: italic;
    }
  }

  .contact {
    .channels {
      color: #999;
      li { 
        padding: 10px 15px;
        .fa { margin-right: 15px; }
      }
    }
    .modal-body, .modal-footer { padding: 0; border: none; }
    input, .btn {
      height: 46px;
      padding: 10px 16px;
      font-size: 18px;
      line-height: 1.3333333;
    }
  }
}