#statics {
  .pin-question {
    margin-top: 25px;
    .heading { 
      border-bottom: 1px solid #eee;
      a { color: #222; }
      h4 { font-weight: bold; }
    }
    p { 
      padding: 25px 15px;
      font-size: 18px;
      font-style: italic;
    }
  }
}